//
// Color system
//

$color_1:         #4f87de;
$color_2:         #58be5b;
$color_2_1:       #72c874;
$color_3:         #fcd700;
$color_4:         #ee6150;
$color_5:         #ececec;
$color_6:         #dbdbdb;
$color_7:         #878787;
$color_8:         #666666;
$color_9:         #333333;
$color_10:        #999999;

$arr-colors-name: ();
$arr-colors-name: map-merge(
  (
    "blue": $color_1,
    "green": $color_2,
    "lightgreen": $color_2_1,
    "yellow": $color_3,
    "red": $color_4
  ),
  $arr-colors-name
);

$arr-colors-number: ();
$arr-colors-number: map-merge(
  (
    "1": $color_1,
    "2": $color_2,
    "2-1": $color_2_1,
    "3": $color_3,
    "4": $color_4,
    "5": $color_5,
    "6": $color_6,
    "7": $color_7,
    "8": $color_8,
    "9": $color_9,
    "10": $color_10
  ),
  $arr-colors-number
);

// Body
//
// Settings for the `<body>` element.

$body-color:                $color_8;

// Links
//
// Style anchor elements.

$link-color:                $color_1;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.7;
$line-height-sm:              1.5;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            'Poppins', $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              0.875rem; // Assumes the browser default, typically `14px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semiBold:        600;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            $line-height-lg;

$h1-font-size:                $font-size-base * 2; // 28px
$h2-font-size:                $font-size-base * 1.43; // 20px
$h3-font-size:                $font-size-base * 1.285; // 18px
$h4-font-size:                $font-size-base * 1.142; // 16px
$h5-font-size:                $font-size-base * 1.07; // 15px
$h6-font-size:                $font-size-base;

// Navbar

$navbar-nav-link-padding-x:         1rem;

// Slick
//
// The last carousel you'll ever need

$slick-font-path: "../fonts/";
$slick-font-family: "slick";
$slick-loader-path: "../images/";
$slick-arrow-color: black;
$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "\2190";
$slick-next-character: "\2192";
$slick-dot-character: "\2022";
$slick-dot-size: 9px;
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;
