// apps.scss
.apk-app {
  margin-top: 30px;

  &__img {
    width: 100px;
    overflow: hidden;
    @include border-radius;

    a {
      display: block;
      font-size: 0;
    }
  }

  &__content {
    padding-left: 124px;
    @include border-radius;
  }

  &__discount {
    margin-left: 0;
    @include media-breakpoint-up(sm) {
      margin-top: -31px;
      padding-left: 85px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      padding-left: 0;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -31px;
      padding-left: 85px;
    }

    span {
      vertical-align: middle;
    }
  }

  &__title a {
    color: $color_9;

    @include hover-focus {
      color: $color_1;
    }
  }

  &__size {
    display: none;
  }

  &__author {
    font-size: 11px;

    a {
      color: $color_9;
    }
  }

  &__meta {
    color: $color_2;
  }

  &__download {
    font-size: 13px;

    .fat {
      margin-right: 10px;
      font-size: 18px;
      vertical-align: middle;
    }
  }

  &__published {
    font-size: 11px;
  }
}

.apk-detail {
  &__title {
    position: relative;

    img {
      height: 16px;
    }
  }

  &__meta {
    color: $color_10;

    &-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 11px;
      color: $color_10;
      border: 1px solid $color_10;
      @include border-radius(50%);

      @include hover-focus {
        color: $color_1;
      }
    }
  }

  &__download {
    .btn {
      padding-left: 40px;
      padding-right: 40px;
      box-shadow: 0 10px 30px -5px $color_2;
      background-image: -moz-linear-gradient( 0deg, #91ce6b 0%, #91c443 100%);
      background-image: -webkit-linear-gradient( 0deg, #91ce6b 0%, #91c443 100%);
      background-image: -ms-linear-gradient( 0deg, #91ce6b 0%, #91c443 100%);
      background-image: linear-gradient( 0deg, #91ce6b 0%, #91c443 100%);
      @include border-radius(50px);

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }

  &__tab-control {
    .nav-item {
      @include media-breakpoint-up(lg) {
        min-width: 160px;
        text-align: center;
      }
    }

    .nav-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      color: $color_8;
      @include border-radius(50px);

      &.active {
        background-color: $color_1;
      }
    }
  }

  &__data {
    &-table-download {
      table thead th {
        color: $white;
        background-color: $color_2;
        border-color: $color_2;
      }

      table tbody td {
        background-color: lighten($color_5, 5%);
      }
    }

    &-all-releases {
      .card-header > h5 > button {
        position: relative;
        > i {
          color: $color_2;
          font-size: 20px;
          @include absolute(7px, 70px);
        }

        &::before,
        &::after {
          content: "";
          display: block;
          background-color: $color_7;
          @include absolute();
        }

        &::before {
          top: 15px;
          width: 18px;
          height: 1px;
          right: 20px;
        }

        &::after {
          top: 7px;
          width: 1px;
          height: 18px;
          right: 29px;
        }

        &[aria-expanded="true"] {
          &::after {
            display: none;
          }
        }
      }

      .card-body {
        background-color: lighten($color_5, 5%);
      }
    }
  }
}

.accordion {
  .accordion {
    padding-left: 30px;
  }

  &__heading {
    margin-bottom: 5px;

    button {
      position: relative;
      padding: 0.782rem 0.75rem;
      color: $color_8;

      > i {
        color: $color_2;
        font-size: 20px;
        @include absolute(50%, 70px);
        transform: translateY(-50%);
      }

      &::before,
      &::after {
        content: "";
        display: block;
        background-color: $color_7;
        @include absolute(50%);
        transform: translateY(-50%);
      }

      &::before {
        width: 18px;
        height: 1px;
        right: 20px;
      }

      &::after {
        width: 1px;
        height: 18px;
        right: 29px;
      }
    }

    button[aria-expanded="true"] {
      color: $white;
      background-color: $color_1;

      i {
        color: $white;
      }

      &::before,
      &::after {
        background-color: $white;
      }

      &::after {
        display: none;
      }
    }
  }

  &__item {
    .table {
      background-color: lighten($color_5, 2%);
    }

    &--child {
      .accordion {
        button[aria-expanded="true"] {
          background-color: lighten($color_8, 5%);
        }

        &__item {
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            left: -30px;
            display: block;
          }

          &::before {
            top: 0;
            width: 1px;
            height: 100%;
            border-left: 1px dashed $color_6;
          }

          &::after {
            top: 25px;
            width: 30px;
            height: 1px;
            border-top: 1px dashed $color_6;
          }
        }
      }
    }
  }
}

@each $name, $val in $arr-colors-name {
  .apk-detail__data--#{$name} {
    .apk-detail__data-title {
      color: $val;
    }

    .apk-detail__tab-control .nav-link.active,
    .accordion__heading button[aria-expanded="true"] {
      color: $white;
      background-color: $val;
    }

    .btn-link {
      @include hover {
        color: $val;
      }
    }
  }
}
