// blog.scss
.apk-blog {
  &__item {
    margin-top: 50px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__media {
    overflow: hidden;
    margin-bottom: 30px;

    a {
      display: block;
      font-size: 0;
    }

    img {
      transition: $transition-base;
    }

    @include hover-focus {
      img {
        transform: scale(1.1);
      }
    }
  }
}
