// category-slick.scss
.apk-category {
  padding-bottom: 70px;

  &__slick {
    display: none;
    padding-top: 45px;

    .slick-list {
      margin: 0 -15px;
    }

    .slick-dots {
      bottom: -60px;

      li {
        width: 10px;
        height: 10px;

        button, button:before {
          width: auto;
          height: auto;
          line-height: normal;
        }
      }
    }

    &.slick-initialized {
      display: block;
    }

    &-item {
      font-weight: 500;
      padding: 0 15px;
    }

    a {
      display: block;
      color: $white;
      padding: 35px 15px;
      @include border-radius(10px);
    }
  }
}
