// comments.scss
.apk-comments {
  &__heading {
    color: $color-9;
  }

  &__respond {
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color_6;
    }
  }

  &--box-wide {
    padding: 30px 15px;
    background-color: lighten($color_5, 5%);
    @include media-breakpoint-up(md) {
      padding: 50px;
    }
  }
}

.apk-comment {
  &__body {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed $color_6;
    @include media-breakpoint-up(md) {
      padding-left: 125px;
    }
  }

  &__author {
    @include media-breakpoint-up(md) {
      margin-left: -125px;
    }
  }

  &__reply-link {
    padding-bottom: 5px;
    border-bottom: 1px dashed $color_6;

    @include hover {
      border-bottom-color: $color_8;
    }
  }

  &--child {
    @include media-breakpoint-up(md) {
      padding-left: 125px;
    }
  }
}
