// subscribe.scss
.apk-subscribe {
  position: relative;
  padding: 50px 30px;
  overflow: hidden;
  @include border-radius(10px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/bg-pattern-2.png) repeat 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -85px;
    right: 0;
    width: 243px;
    height: 220px;
    opacity: .05;
    background: url(../images/banner/banner-3.png) no-repeat;
  }

  &__form {
    position: relative;
    z-index: 1;
  }

  .form-group {
    position: relative;
    width: 210px;
    @include media-breakpoint-up(sm) {
      width: 300px;
    }
    @include media-breakpoint-up(md) {
      width: 400px;
    }

    input[type="email"] {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .icon-form-left {
    @include absolute(50%, null, null, 15px);
    transform: translateY(-50%);
  }

  .icon-form-right {
    @include absolute(50%, 15px);
    transform: translateY(-50%);
  }
}
