// utils.scss
.apk-box {
  padding: 25px 0;
  &:first-child {
    @include media-breakpoint-up(lg) {
      padding-top: 50px;
    }
  }

  &-heading {
    position: relative;
    z-index: 1;
  }

  &__title {
    position: relative;
    z-index: 1;
    background-color: $white;
  }

  &__nav .nav-item {
    @include media-breakpoint-up(md) {
      margin-left: 3px;
    }
  }

  &__content {
    position: relative;
    margin-top: -7px;
    background-color: $white;
  }
}

.apk-box--full {
  margin: 25px 0;
  padding: 50px 0;
  background-image: url(../images/bg-pattern-1.png);
  background-repeat: repeat;
  background-position: 0 0;

  .apk-box__title {
    color: $white;
    background-color: transparent;

    span:first-child {
      color: $white !important;
    }
  }

  .apk-box__content {
    background-color: transparent;
    border-top-color: transparent !important;
  }

  .apk-apps {
    padding-top: 30px;
  }

  .apk-apps__wrapper {
    margin: -5px;

    .apk-app {
      position: relative;
      padding: 5px;
      margin-top: 0;
      width: percentage(12 / 12);
      @include media-breakpoint-up(sm) {
        width: percentage(6 / 12);
      }
      @include media-breakpoint-up(lg) {
        width: percentage(3 / 12);
      }

      @include hover {
        .apk-app__img a::after {
          @include vdisplay;
        }
      }

      &--small {
        width: percentage((12 / 12) / 2) !important;
        @include media-breakpoint-up(sm) {
          width: percentage((6 / 12) / 2) !important;
        }
        @include media-breakpoint-up(lg) {
          width: percentage((3 / 12) / 2) !important;
        }

        .apk-app__content {
          display: none;
        }
      }

      &--banner {
        display: none;
        bottom: 0;
        height: 150px;
        @include media-breakpoint-up(lg) {
          display: block;
        }

        a {
          display: block;
          font-size: 0;
        }

        img {
          height: 290px;
          @include border-radius;
        }
      }
    }

    .apk-app__img {
      position: relative;
      width: 100%;
      margin-right: 0 !important;

      a::after {
        content: "";
        transition: $transition-base;
        @include overlay($black, 0.5, 0);
        @include vhidden;
      }

      img {
        width: 100%;
        @include media-breakpoint-up(md) {
          height: 160px;
        }
        @include media-breakpoint-up(lg) {
          height: 140px;
        }
      }
    }

    .apk-app__content {
      position: absolute;
      top: auto;
      right: 5px;
      bottom: 5px;
      left: 5px;
      z-index: 1;
      padding: 15px 20px;
      color: $white;
      overflow: hidden;
      background: rgba(0,0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 90%, rgba(0,0,0,0.85) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0,0)), color-stop(90%, rgba(0,0,0,0.85)), color-stop(100%, rgba(0,0,0,0.85)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 90%, rgba(0,0,0,0.85) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 90%, rgba(0,0,0,0.85) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 90%, rgba(0,0,0,0.85) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 90%, rgba(0,0,0,0.85) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

      a {
        color: $white;
      }
    }

    .apk-app__size {
      display: block;
      font-size: 12px;
      font-weight: 100;
    }
  }
}

.apk-box--detail {
  .apk-banner {
    margin-bottom: 50px;
  }

  &-version {
    .list-group-item {
      background-color: lighten($color_5, 5%);
    }
  }
}

.apk-box--comments {
  padding: 50px 0;
  background-color: lighten($color_5, 2%);
}

@each $name, $val in $arr-colors-name {
  .apk-box--#{$name} {
    .apk-box__title span:first-child {
      color: $val;
    }

    .apk-box__nav .nav-link.active {
      background-color: $val !important;
      border-color: darken($val, 10%) !important;
      color: $white !important;
    }

    .apk-box__nav .nav-item:last-child .nav-link:hover {
      color: $val !important;
    }

    .apk-app .apk-app__title a,
    .apk-app .apk-app__author a {
      @include hover-focus {
        color: $val;
      }
    }

    &.apk-box--full {
      background-color: $val;
    }
  }
}

.apk-socials {
  label {
    font-size: 13px;
  }

  a {
    display: inline-block;
    font-size: 16px;
    width: 32px;
    height: 25px;
    line-height: 25px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.apk-downloader {
  &__meta {
    font-size: 12px;
    line-height: 1.2;
  }

  .btn .fa {
    font-size: 20px;
  }
}

// Star rating
.star-rating {
  display: inline-block;
  position: relative;

  &::before {
    font-size: 14px;
    @include fat("\e911\e911\e911\e911\e911");
  }

  &__size {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    overflow: hidden;

    &::before {
      font-size: 14px;
      color: $color_3;
      @include fat("\e911\e911\e911\e911\e911");
    }
  }
}
