html, body {
  overflow-x: hidden;
}

a {
  transition: $transition-base;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

iframe {
  border: none;
  max-width: 100%;
}

.says {
  display: none;
}

.breadcrumb-item {
  & + .breadcrumb-item::before {
    font-size: 11px;
    color: $color_10;
    @include fat("\e902");
  }

  a {
    color: $color_10;

    @include hover-focus {
      color: $color_1;
    }

    i {
      margin-right: 5px;
    }
  }
}

// Backgrounds, Colors
@each $name, $val in $arr-colors-number {
  .text-color-#{$name} {
    color: #{$val} !important;
  }

  .bg-color-#{$name} {
    background-color: #{$val} !important;
  }

  .btn-color-#{$name} {
    @include button-variant($val, $val);
  }
}

// Font sizes
@each $val in 12, 14, 16, 18, 20 {
  .fs-#{$val} {
    font-size: #{$val}px !important;
  }
}
