.icon-feature {
    width: 25px;
    height: 23px;
    margin-right: 10px;
    margin-top: 2px;
    float: left;
}
.custom-card .card-header .see-more {
    margin-top: 1px !important;
}
.detail .tabs-x .page-content .list ul .accordion-item.accordion-item-opened .download-app-ti {
    top: 7px;
}
.ios .card.odb {
    box-shadow: none;
    background: transparent;
    height: auto;
}
.ios .card.odb .demo-swiper {
    height: auto;
    box-shadow: none;
}
.ios .card.odb .demo-swiper .swiper-slide .odb-item a .odb-item-des {
    bottom: 0px;
    height: 40%;
	top: inherit;
}
.detail .tabs-x .page-content .list ul .accordion-item .download-app-ti {
    right: 29px;
}
.detail .tabs-x .page-content .list ul .accordion-item.accordion-item-opened .download-app-ti {
    right: 37px;
}
.list.accordion-list ul .download-app-ti.external.link.link-down {
    margin-right: -23px;
}
.list.accordion-list ul .accordion-item.accordion-item-opened .download-app-ti.external.link.link-down svg{
	fill: #fff !important;
    width: 13px;
}
.list.accordion-list ul .download-app-ti.external.link.link-down svg {
    fill: #cacaca !important;
}

.list.accordion-list ul .accordion-item.accordion-item-opened .download-app-ti.external.link.link-down {
    margin-right: -10px;
}
.detail .tabs-x .page-content .list ul .accordion-item.accordion-item-opened .accordion-item.accordion-item-opened .download-app-ti {
    right: 35px;
}
.item-content.item-link .item-title{
	display: block;
	max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px;
}
.white-color svg path{
	fill: #fff !important;
}
.grey-color svg path{
	fill: #999 !important;
}
.accordion__item.accordion__item--child a svg path{
	fill: #999;
}
i.green-color{
	color: #58be5b !important;
}
/*====================================*/
/*add new*/
/*====================================*/
.line-comment{
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.comment-action button.btn{
    float: right;
    margin-top: 15px;
}
.cm-add-pic,.cm-add-you{
    float: left;
    cursor: pointer;
}
.cm-add-pic,.cm-add-you{
    display: inline-block;
}
.cm-add-pic i{
    font-size: 22px;
    vertical-align: middle;
    margin: 0px 10px;
}
.cm-add-you i{
    font-size: 24px;
    vertical-align: middle;
    margin: 0px 10px;
    margin-left: 7px;
}
.meta-for-comment{
    display: block;
    float: left;
    width: 100%;

}
.emotion{
    display: inline-block;
    position: relative;
    float: left;
}
.emotion:hover .emo-list{
    display: block;
}
.emotion .lin-insert-em{
    width: 24px;
    display: inline-block;
    cursor: pointer;
}
.emotion .lin-insert-em img{
    width: 100%;
}
.emotion .emo-list{
    width: 208px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: -5px;
    display: none;
}
.emotion .emo-list:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ccc;
    top: -6px;
    left: 10px;
}
.emotion .emo-list .emo-icon{
    width: 20%;
    max-width: 24px;
    display: inline-block;
    margin: 2px 5px;
    cursor: pointer;
}
.emotion .emo-list .emo-icon img{
    width: 100%;
}
.start-comment{
    vertical-align: middle;
    float: right;
}
.start-comment .star-rating__size::before {
    font-size: 20px !important;
}
.start-comment.star-rating::before {
    font-size: 20px !important;
}
/*
 * Rating styles
 */
.rating {
    width: auto;
    font-size: 22px;
    overflow:hidden;
    float: right;
    margin-top: -6px;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}
.rating-block{
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 20px 15px 23px 15px;
    border-radius: 3px;
}
.padding-bottom-7{
    padding-bottom:7px;
}

.review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
}
.review-block-name{
    font-size:12px;
    margin:10px 0;
}
.review-block-date{
    font-size:12px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
}
.pro-bac{
    display: flex;
}
.pro-bac .start-num{
    white-space: nowrap;
}
.pro-bac .start-num div{
    display: flex;
}
.pro-bac .start-num div span:first-child{
    width: 10px;
}
.pro-bac .start-num .on-star{
    width: 20px;
    margin-left: 5px;
}
.pro-bac .poc-bar{
    white-space: nowrap;
    width: 180px;
}
.pro-bac .poc-bar .progress{
    height: 10px;
    margin-top: 6px;
}
.pro-bac .poc-bar .progress-bar{
    height: 10px;
}
.pro-bac .number-ra{
    white-space: nowrap;
    margin-left: 10px;
}
.box-background{
    background-color: #f5f5f5;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.faq-content .panel-heading {
    border: 1px solid #ddd;
}
.faq-content .panel-title{
    margin-bottom: 0px;
}
.faq-content .panel-body{
    border: 1px solid #ddd;
    padding: 20px !important;
}
.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "";
}
.panel-group .panel .panel-heading h4 a i {
    color: #999;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}
.navbar-nav .nav-link:hover{
    color: rgba(255,255,255,0.8);
}
/* sign in FORM */
#logreg-forms{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#logreg-forms .social-login{
    width:auto;
    margin:0 auto;
    margin-bottom: 14px;
    display: flex;
    white-space: nowrap;
    text-align: center;
    justify-content: space-between;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:185px;
    font-size: 0.9rem;
}
#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}
#logreg-form .lines{
    width:200px;
    border:1px solid red;
}
#logreg-forms button[type="submit"]{ margin-top:10px; }
#logreg-forms .facebook-btn{  background-color:#3C589C; }
#logreg-forms .google-btn{ background-color: #DF4B3B; }
#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }
#logreg-forms .form-signup input { margin-bottom: 2px;}
.verifiinfo-box{
    width: 550px;
    margin: auto;
    background: #DFF0D8;
    border-radius: 10px;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 20px;
    display: flex;
}
.verifiinfo-box span {
    color: #91ce6b;
    font-size: 30px;
    padding-right: 15px;
    padding-top: 0px;
    display: inline-block;
    margin-top: -10px;
}
.verifiinfo-box ul{
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.download-regi .dropdown .dropdown-menu{
    padding: 30px;
}
.list-contry{
    padding-left: 0px;
    list-style: none;
}
.list-contry li{
    line-height: 32px;
}
.ttt-drop{
    margin: 0px;
    font-weight: bold;
}
.g-list-contry .list-contry{
    width: 20%;
    display: inline-block;
    float: left;
    white-space: nowrap;
}
/*==============================*/
/*Country*/
/*==============================*/
@keyframes bgShakeBanner {
    from,
    to {
        background-position: center 5px
    }
    25% {
        background-position: 30.5px center
    }
    50% {
        background-position: center 9px
    }
    75% {
        background-position: 26.5px center
    }
}

.banner-search .formsearch .ss {
    -webkit-animation-name: bgShakeBanner;
    animation-name: bgShakeBanner
}

.banner-search-bg {
    background: #5acd71;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    width: 1160px;
    height: 48px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px
}

.banner-search-bg.error {
    background: red;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4
}

.banner-search {
    background: #fff;
    width: calc(100% - 100px);
    height: 44px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    top: 22px;
    left: 50px;
    border: 2px solid #4f87de;
}

.banner-search input {
    border: 0
}

.banner-search .text-box {
    width: 704px;
    float: left
}

.banner-search .text-box input {
    height: 44px;
    width: 684px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 44px;
    color: #444;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.banner-search .text-btn {
    width: 87px;
    float: left
}

.banner-search .text-btn input {
    width: 87px;
    height: 40px;
    background: #4f87de url(https://static.apkpure.com/www/static/imgs/search.png) center no-repeat;
    background-size: 20%;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.banner-search .text-region {
    width: 59px;
    float: left;
    display: block;
    height: 40px;
    line-height: 44px;
    border-right: 1px solid #DCDCDC;
    background: #EFEFEF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.banner-search .text-region a {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-right: 4px;
    background: url("https://static.apkpure.com/www/static/imgs/flags_arrow.png") no-repeat right center;
    color: #fff;
    text-decoration: none;
    font-size: 14px
}

.banner-search .text-region span {
    margin-top: -3px;
    margin-left: 11px
}

.banner-search .text-box1 {
    width: calc(100% - 146px);
    float: left;
    height: 40px;
}

.banner-search .text-box1 input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 44px;
    color: #444
}

.banner-search .text-box1 input.error {
    background-color: #FFF0F0;
    color: #D95F5F
}

.banner-search .tt-hint {
    color: #999 !important
}

.banner-search .tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    padding: 8px 0;
    width: 100%
}

.banner-search .tt-suggestion {
    font-size: 16px;
    line-height: 24px;
    padding: 3px 20px;
    word-break: break-all
}

.banner-search .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #24cd77
}

.banner-search .tt-suggestion.tt-cursor {
    background-color: #24cd77;
    color: #FFFFFF
}

.ar_fix .banner-search .text-region span {
    margin-left: 0;
    margin-right: 11px
}

.ar_fix .banner-search .text-box {
    float: right
}

.ar_fix .banner-search .text-btn input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.ar_fix .banner-search .text-box1 {
    float: right
}

.ar_fix .banner-search .text-region {
    float: right
}

.ar_fix .banner-search .text-box input {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

@media only screen and (max-width: 1300px) {
    .banner-search-bg {
        width: 1010px
    }
    .banner-search {
        width: 1004px
    }
    .banner-search .text-box1 {
        width: 857px
    }
    .banner-search .text-box1 input {
        width: 837px
    }
    .banner-search .text-box {
        width: 547px
    }
    .banner-search .text-box input {
        width: 527px
    }
}

.f32 .flag {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    line-height: 32px;
    background: url("https://static.apkpure.com/www/static/imgs/flags32.png") no-repeat
}

.f32 ._African_Union {
    background-position: 0 -32px
}

.f32 ._Arab_League {
    background-position: 0 -64px
}

.f32 ._ASEAN {
    background-position: 0 -96px
}

.f32 ._CARICOM {
    background-position: 0 -128px
}

.f32 ._CIS {
    background-position: 0 -160px
}

.f32 ._Commonwealth {
    background-position: 0 -192px
}

.f32 ._England {
    background-position: 0 -224px
}

.f32 ._European_Union,
.f32 .eu {
    background-position: 0 -256px
}

.f32 ._Islamic_Conference {
    background-position: 0 -288px
}

.f32 ._Kosovo {
    background-position: 0 -320px
}

.f32 ._NATO {
    background-position: 0 -352px
}

.f32 ._Northern_Cyprus {
    background-position: 0 -384px
}

.f32 ._Northern_Ireland {
    background-position: 0 -416px
}

.f32 ._Olimpic_Movement {
    background-position: 0 -448px
}

.f32 ._OPEC {
    background-position: 0 -480px
}

.f32 ._Red_Cross {
    background-position: 0 -512px
}

.f32 ._Scotland {
    background-position: 0 -544px
}

.f32 ._Somaliland {
    background-position: 0 -576px
}

.f32 ._Tibet {
    background-position: 0 -608px
}

.f32 ._United_Nations {
    background-position: 0 -640px
}

.f32 ._Wales {
    background-position: 0 -672px
}

.f32 .ad {
    background-position: 0 -704px
}

.f32 .ae {
    background-position: 0 -736px
}

.f32 .af {
    background-position: 0 -768px
}

.f32 .ag {
    background-position: 0 -800px
}

.f32 .ai {
    background-position: 0 -832px
}

.f32 .al {
    background-position: 0 -864px
}

.f32 .am {
    background-position: 0 -896px
}

.f32 .ao {
    background-position: 0 -928px
}

.f32 .aq {
    background-position: 0 -960px
}

.f32 .ar {
    background-position: 0 -992px
}

.f32 .as {
    background-position: 0 -1024px
}

.f32 .at {
    background-position: 0 -1056px
}

.f32 .au {
    background-position: 0 -1088px
}

.f32 .aw {
    background-position: 0 -1120px
}

.f32 .ax {
    background-position: 0 -1152px
}

.f32 .az {
    background-position: 0 -1184px
}

.f32 .ba {
    background-position: 0 -1216px
}

.f32 .bb {
    background-position: 0 -1248px
}

.f32 .bd {
    background-position: 0 -1280px
}

.f32 .be {
    background-position: 0 -1312px
}

.f32 .bf {
    background-position: 0 -1344px
}

.f32 .bg {
    background-position: 0 -1376px
}

.f32 .bh {
    background-position: 0 -1408px
}

.f32 .bi {
    background-position: 0 -1440px
}

.f32 .bj {
    background-position: 0 -1472px
}

.f32 .bm {
    background-position: 0 -1504px
}

.f32 .bn {
    background-position: 0 -1536px
}

.f32 .bo {
    background-position: 0 -1568px
}

.f32 .br {
    background-position: 0 -1600px
}

.f32 .bs {
    background-position: 0 -1632px
}

.f32 .bt {
    background-position: 0 -1664px
}

.f32 .bw {
    background-position: 0 -1696px
}

.f32 .by {
    background-position: 0 -1728px
}

.f32 .bz {
    background-position: 0 -1760px
}

.f32 .ca {
    background-position: 0 -1792px
}

.f32 .cd {
    background-position: 0 -1824px
}

.f32 .cf {
    background-position: 0 -1856px
}

.f32 .cg {
    background-position: 0 -1888px
}

.f32 .ch {
    background-position: 0 -1920px
}

.f32 .ci {
    background-position: 0 -1952px
}

.f32 .ck {
    background-position: 0 -1984px
}

.f32 .cl {
    background-position: 0 -2016px
}

.f32 .cm {
    background-position: 0 -2048px
}

.f32 .cn {
    background-position: 0 -2080px
}

.f32 .co {
    background-position: 0 -2112px
}

.f32 .cr {
    background-position: 0 -2144px
}

.f32 .cu {
    background-position: 0 -2176px
}

.f32 .cv {
    background-position: 0 -2208px
}

.f32 .cy {
    background-position: 0 -2240px
}

.f32 .cz {
    background-position: 0 -2272px
}

.f32 .de {
    background-position: 0 -2304px
}

.f32 .dj {
    background-position: 0 -2336px
}

.f32 .dk {
    background-position: 0 -2368px
}

.f32 .dm {
    background-position: 0 -2400px
}

.f32 .do {
    background-position: 0 -2432px
}

.f32 .dz {
    background-position: 0 -2464px
}

.f32 .ec {
    background-position: 0 -2496px
}

.f32 .ee {
    background-position: 0 -2528px
}

.f32 .eg {
    background-position: 0 -2560px
}

.f32 .eh {
    background-position: 0 -2592px
}

.f32 .er {
    background-position: 0 -2624px
}

.f32 .es {
    background-position: 0 -2656px
}

.f32 .et {
    background-position: 0 -2688px
}

.f32 .fi {
    background-position: 0 -2720px
}

.f32 .fj {
    background-position: 0 -2752px
}

.f32 .fm {
    background-position: 0 -2784px
}

.f32 .fo {
    background-position: 0 -2816px
}

.f32 .fr {
    background-position: 0 -2848px
}

.f32 .bl,
.f32 .cp,
.f32 .mf,
.f32 .yt {
    background-position: 0 -2848px
}

.f32 .ga {
    background-position: 0 -2880px
}

.f32 .gb {
    background-position: 0 -2912px
}

.f32 .sh {
    background-position: 0 -2912px
}

.f32 .gd {
    background-position: 0 -2944px
}

.f32 .ge {
    background-position: 0 -2976px
}

.f32 .gg {
    background-position: 0 -3008px
}

.f32 .gh {
    background-position: 0 -3040px
}

.f32 .gi {
    background-position: 0 -3072px
}

.f32 .gl {
    background-position: 0 -3104px
}

.f32 .gm {
    background-position: 0 -3136px
}

.f32 .gn {
    background-position: 0 -3168px
}

.f32 .gp {
    background-position: 0 -3200px
}

.f32 .gq {
    background-position: 0 -3232px
}

.f32 .gr {
    background-position: 0 -3264px
}

.f32 .gt {
    background-position: 0 -3296px
}

.f32 .gu {
    background-position: 0 -3328px
}

.f32 .gw {
    background-position: 0 -3360px
}

.f32 .gy {
    background-position: 0 -3392px
}

.f32 .hk {
    background-position: 0 -3424px
}

.f32 .hn {
    background-position: 0 -3456px
}

.f32 .hr {
    background-position: 0 -3488px
}

.f32 .ht {
    background-position: 0 -3520px
}

.f32 .hu {
    background-position: 0 -3552px
}

.f32 .id {
    background-position: 0 -3584px
}

.f32 .mc {
    background-position: 0 -3584px
}

.f32 .ie {
    background-position: 0 -3616px
}

.f32 .il {
    background-position: 0 -3648px
}

.f32 .im {
    background-position: 0 -3680px
}

.f32 .in {
    background-position: 0 -3712px
}

.f32 .iq {
    background-position: 0 -3744px
}

.f32 .ir {
    background-position: 0 -3776px
}

.f32 .is {
    background-position: 0 -3808px
}

.f32 .it {
    background-position: 0 -3840px
}

.f32 .je {
    background-position: 0 -3872px
}

.f32 .jm {
    background-position: 0 -3904px
}

.f32 .jo {
    background-position: 0 -3936px
}

.f32 .jp {
    background-position: 0 -3968px
}

.f32 .ke {
    background-position: 0 -4000px
}

.f32 .kg {
    background-position: 0 -4032px
}

.f32 .kh {
    background-position: 0 -4064px
}

.f32 .ki {
    background-position: 0 -4096px
}

.f32 .km {
    background-position: 0 -4128px
}

.f32 .kn {
    background-position: 0 -4160px
}

.f32 .kp {
    background-position: 0 -4192px
}

.f32 .kr {
    background-position: 0 -4224px
}

.f32 .kw {
    background-position: 0 -4256px
}

.f32 .ky {
    background-position: 0 -4288px
}

.f32 .kz {
    background-position: 0 -4320px
}

.f32 .la {
    background-position: 0 -4352px
}

.f32 .lb {
    background-position: 0 -4384px
}

.f32 .lc {
    background-position: 0 -4416px
}

.f32 .li {
    background-position: 0 -4448px
}

.f32 .lk {
    background-position: 0 -4480px
}

.f32 .lr {
    background-position: 0 -4512px
}

.f32 .ls {
    background-position: 0 -4544px
}

.f32 .lt {
    background-position: 0 -4576px
}

.f32 .lu {
    background-position: 0 -4608px
}

.f32 .lv {
    background-position: 0 -4640px
}

.f32 .ly {
    background-position: 0 -4672px
}

.f32 .ma {
    background-position: 0 -4704px
}

.f32 .md {
    background-position: 0 -4736px
}

.f32 .me {
    background-position: 0 -4768px
}

.f32 .mg {
    background-position: 0 -4800px
}

.f32 .mh {
    background-position: 0 -4832px
}

.f32 .mk {
    background-position: 0 -4864px
}

.f32 .ml {
    background-position: 0 -4896px
}

.f32 .mm {
    background-position: 0 -4928px
}

.f32 .mn {
    background-position: 0 -4960px
}

.f32 .mo {
    background-position: 0 -4992px
}

.f32 .mq {
    background-position: 0 -5024px
}

.f32 .mr {
    background-position: 0 -5056px
}

.f32 .ms {
    background-position: 0 -5088px
}

.f32 .mt {
    background-position: 0 -5120px
}

.f32 .mu {
    background-position: 0 -5152px
}

.f32 .mv {
    background-position: 0 -5184px
}

.f32 .mw {
    background-position: 0 -5216px
}

.f32 .mx {
    background-position: 0 -5248px
}

.f32 .my {
    background-position: 0 -5280px
}

.f32 .mz {
    background-position: 0 -5312px
}

.f32 .na {
    background-position: 0 -5344px
}

.f32 .nc {
    background-position: 0 -5376px
}

.f32 .ne {
    background-position: 0 -5408px
}

.f32 .ng {
    background-position: 0 -5440px
}

.f32 .ni {
    background-position: 0 -5472px
}

.f32 .nl {
    background-position: 0 -5504px
}

.f32 .bq {
    background-position: 0 -5504px
}

.f32 .no {
    background-position: 0 -5536px
}

.f32 .bv,
.f32 .nq,
.f32 .sj {
    background-position: 0 -5536px
}

.f32 .np {
    background-position: 0 -5568px
}

.f32 .nr {
    background-position: 0 -5600px
}

.f32 .nz {
    background-position: 0 -5632px
}

.f32 .om {
    background-position: 0 -5664px
}

.f32 .pa {
    background-position: 0 -5696px
}

.f32 .pe {
    background-position: 0 -5728px
}

.f32 .pf {
    background-position: 0 -5760px
}

.f32 .pg {
    background-position: 0 -5792px
}

.f32 .ph {
    background-position: 0 -5824px
}

.f32 .pk {
    background-position: 0 -5856px
}

.f32 .pl {
    background-position: 0 -5888px
}

.f32 .pr {
    background-position: 0 -5920px
}

.f32 .ps {
    background-position: 0 -5952px
}

.f32 .pt {
    background-position: 0 -5984px
}

.f32 .pw {
    background-position: 0 -6016px
}

.f32 .py {
    background-position: 0 -6048px
}

.f32 .qa {
    background-position: 0 -6080px
}

.f32 .re {
    background-position: 0 -6112px
}

.f32 .ro {
    background-position: 0 -6144px
}

.f32 .rs {
    background-position: 0 -6176px
}

.f32 .ru {
    background-position: 0 -6208px
}

.f32 .rw {
    background-position: 0 -6240px
}

.f32 .sa {
    background-position: 0 -6272px
}

.f32 .sb {
    background-position: 0 -6304px
}

.f32 .sc {
    background-position: 0 -6336px
}

.f32 .sd {
    background-position: 0 -6368px
}

.f32 .se {
    background-position: 0 -6400px
}

.f32 .sg {
    background-position: 0 -6432px
}

.f32 .si {
    background-position: 0 -6464px
}

.f32 .sk {
    background-position: 0 -6496px
}

.f32 .sl {
    background-position: 0 -6528px
}

.f32 .sm {
    background-position: 0 -6560px
}

.f32 .sn {
    background-position: 0 -6592px
}

.f32 .so {
    background-position: 0 -6624px
}

.f32 .sr {
    background-position: 0 -6656px
}

.f32 .st {
    background-position: 0 -6688px
}

.f32 .sv {
    background-position: 0 -6720px
}

.f32 .sy {
    background-position: 0 -6752px
}

.f32 .sz {
    background-position: 0 -6784px
}

.f32 .tc {
    background-position: 0 -6816px
}

.f32 .td {
    background-position: 0 -6848px
}

.f32 .tg {
    background-position: 0 -6880px
}

.f32 .th {
    background-position: 0 -6912px
}

.f32 .tj {
    background-position: 0 -6944px
}

.f32 .tl {
    background-position: 0 -6976px
}

.f32 .tm {
    background-position: 0 -7008px
}

.f32 .tn {
    background-position: 0 -7040px
}

.f32 .to {
    background-position: 0 -7072px
}

.f32 .tr {
    background-position: 0 -7104px
}

.f32 .tt {
    background-position: 0 -7136px
}

.f32 .tv {
    background-position: 0 -7168px
}

.f32 .tw {
    background-position: 0 -7200px
}

.f32 .tz {
    background-position: 0 -7232px
}

.f32 .ua {
    background-position: 0 -7264px
}

.f32 .ug {
    background-position: 0 -7296px
}

.f32 .us {
    background-position: 0 -7328px
}

.f32 .uy {
    background-position: 0 -7360px
}

.f32 .uz {
    background-position: 0 -7392px
}

.f32 .va {
    background-position: 0 -7424px
}

.f32 .vc {
    background-position: 0 -7456px
}

.f32 .ve {
    background-position: 0 -7488px
}

.f32 .vg {
    background-position: 0 -7520px
}

.f32 .vi {
    background-position: 0 -7552px
}

.f32 .vn {
    background-position: 0 -7584px
}

.f32 .vu {
    background-position: 0 -7616px
}

.f32 .ws {
    background-position: 0 -7648px
}

.f32 .ye {
    background-position: 0 -7680px
}

.f32 .za {
    background-position: 0 -7712px
}

.f32 .zm {
    background-position: 0 -7744px
}

.f32 .zw {
    background-position: 0 -7776px
}

.f32 .sx {
    background-position: 0 -7808px
}

.f32 .cw {
    background-position: 0 -7840px
}

.f32 .ss {
    background-position: 0 -7872px
}

.regiondown .rtitle {
    padding: 15px
}

.regiondown h1 {
    color: #555;
    font-size: 18px;
    font-weight: 400
}

.regiondown h1 a {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none
}

.regiondown-box {
    padding-top: 1px;
    position: relative
}

.regiondown-box .search-wrap {
    position: relative;
    width: 100%;
    float: left;
    height: 85px;
}

.region-down {
    text-align: center
}

.region-down h1 {
    color: #333;
    font-size: 40px;
    font-weight: 400
}

.region-down h1 a {
    color: #333;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none
}

.region-down h1 img {
    width: 80px
}

.region-down-s {
    background-image: url("https://static.apkpure.com/www/static/imgs/downbtns.gif") !important
}

.region-down-s.ing {
    background-image: url("https://static.apkpure.com/www/static/imgs/downbtn.gif") !important
}

.region-down-info {
    font-size: 14px;
    color: #555;
    line-height: 22px;
    margin-top: 68px;
    padding: 20px;
    z-index: 1
}

.region-down-info p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: justify
}

.region-down-info .err {
    background: #D95C5C
}

.region-down-info .share {
    text-align: center;
    padding-top: 10px
}

.region-down-info .addthis_toolbox {
    display: inline-block
}

.region-down-err {
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 0 25px 0 8px;
    line-height: 24px;
    font-size: 12px;
    z-index: 2;
    background: #D95C5C;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.region-down-err:before {
    position: absolute;
    top: -3px;
    left: 100px;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    width: 6px;
    height: 6px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    background-color: #D95C5C;
    background-image: none
}

.region-down-err .close {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 50%;
    width: 25px;
    height: 20px;
    text-align: center;
    display: block;
    line-height: 20px;
    margin-top: -10px;
    cursor: pointer
}

.region-down-err .close:hover {
    color: #ccc
}

.region-down-err a {
    color: #fff
}

.region-change-region {
    position: absolute;
    top: 230px;
    left: 120px;
    z-index: 1;
    background: url("https://static.apkpure.com/www/static/imgs/change-region.png") no-repeat;
    width: 120px;
    height: 70px
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    max-width: 550px;
    width: auto;
    margin: 20px auto
}

.mfp-hide {
    display: none
}

#captcha_form {
    text-align: center
}

#captcha_form img {
    vertical-align: middle
}

#captcha_form p {
    margin-top: 20px
}

#captcha_form h2 {
    font-size: 16px;
    margin: 0;
    padding: 0
}

#captcha_form .text {
    font-size: 16px;
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc
}

#captcha_form .button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer
}

#captcha_form .button[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

#captcha_form #captcha_img {
    width: 85px;
    border: 1px solid #ccc;
    margin-top: -3px
}

#captcha_form .error {
    color: red;
    font-size: 14px;
    display: none
}

.flags {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 20px;
    width: 795px;
    height: 200px;
    border: 1px solid #bbb;
    overflow: hidden
}

.flags a {
    height: 32px;
    line-height: 32px;
    display: block;
    text-decoration: none;
    width: 190px;
    float: left;
    color: #367DA3;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.flags a:hover {
    background-color: #f2f2f2
}

.flags span {
    margin: 0 5px
}

.flags .s {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #bbb;
    top: 0;
    left: 0;
    right: 20px;
    position: absolute;
    background: #fff;
    z-index: 4
}

.flags .s span {
    text-align: center
}

.flags .s input {
    border: 0;
    width: 80%;
    height: 20px;
    font-size: 12px;
    color: #333;
    line-height: 20px
}

.flags .c {
    overflow: auto;
    height: 100%
}

.flags font.highlight {
    background: #ffff00
}

.flags h2 {
    font-size: 14px;
    margin: 0;
    padding: 10px 5px 0px 5px;
    color: #222;
    font-weight: 600
}

#flags-res {
    display: none
}

.flags .ccc {
    padding: 5px;
    font-size: 12px
}

.ar_fix .region-change-region {
    left: auto;
    right: 120px;
    background: url("https://static.apkpure.com/www/static/imgs/change-region-r.png") no-repeat
}

@media only screen and (max-width: 1300px) {
    .flags {
        width: 638px
    }
}
/*add new*/
.apk-blog__item{
    display: flex !important;
    border-bottom: 1px solid #eee;
    margin-top: 30px;
}
.apk-blog__item .apk-blog__media{
    flex: 1 0;
}
.apk-blog__item .apk-blog__media img{
    min-height: 220px;
    border-radius: 5px;
    max-width: 100%;
}
.apk-blog__item .apk-blog__content{
    flex: 2 0px;
    padding-left: 20px;
}
.apk-blog__meta a{
    color: #999;
    font-size: 13px;
}
.apk-blog__meta a:hover{
    color: #4f87de;
}
.apk-blog_readmore a{
    color: #4f87de;
    font-weight: 300;
    opacity: 1;
}
.apk-blog_readmore a i{
    font-size: 12px;
}
.apk-blog_readmore a:hover{
    color: #666;
    opacity: 0.5;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4f87de;
    border-color: #4f87de;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.sidebar-sticker{
}
.sidebar-sticker.fixed{
    position: fixed;
}
.sidebar-blog{
    background: #f5f5f5;
    padding: 30px 15px 10px 15px;
    border-radius: 5px;
}
.sidebar-blog.apk-sidebar .apk-app__img{
    width: 70px !important;
}
.sidebar-blog.apk-sidebar .apk-app__content {
    padding-left: 85px;
}
.sidebar-blog.apk-sidebar .apk-app {
    margin-top: 0;
    padding: 20px 0;
    padding-bottom: 0px;
}
.sidebar-blog.apk-sidebar .apk-blog__meta{
    font-size: 11px;
    white-space: nowrap;
}
.sidebar-blog.apk-sidebar .apk-blog__meta a i{
    font-size: 10px;
}
.content-table{
    border: 2px dotted #ccc;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #fffef9;
    margin-bottom: 30px;
    margin-top: 30px;
}
.content-table h3{
}
.content-table ul{
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    padding-left: 20px;
}
.content-table ul li a:hover{
    color: #ee6150;
}
.related-post ul{
    list-style: none;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.how-to-install{
    border: 1px solid #4f87de;
    padding: 6px 20px;
    border-radius: 30px;
    margin-top: 2px;
    display: inline-block;
    margin-left: 20px;
}
.how-to-install i{
    padding-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}
.title-search-page{
    border-bottom: 1px solid #eee;
    padding-bottom: 22px;
    margin-bottom: 30px;
}
.title-search-page small{
    font-weight: 300;
    font-size: 15px;
    color: #666;
}
.img-recent-post img{
    border-radius: 5px;
    max-height: 200px;
}
.header-border{
    border-bottom: 1px solid #dee2e6 !important;
    position: relative;
}
.header-border .apk-box__title{
    background-color: #fff;
    position: absolute;
    top: -28px;
    left: 0px;
}
.header-border .nav-link.text-muted{
    background-color: #fff;
    position: absolute;
    top: -17px;
    right: -14px;
}
/**********************************************/
/************add new for responsive************/
/**********************************************/
.header-mobile{
    display: none;
}
.menu-mobile{
    display: none;
}
.search-mobile {
    display: none;
}
.apk-comments .container .row .col-sm-4{
    min-width: 250px !important;
}
.apk-comments__respond textarea{
    border: 1px solid #dbdbdb;
}
.accordion__heading button[aria-expanded="true"] {
    color: #333;
    background-color: #f1f1f1;
}
.accordion__heading button::before, .accordion__heading button::after {
    background-color: #333 !important;
}
.accordion__heading button[aria-expanded="true"] i {
    color: #333;
}
.accordion__item--child .accordion button[aria-expanded="true"] {
    background-color: #dcdcdc;
}
.apk-detail__data .accordion__heading{
    position: relative;
}
.apk-detail__data .accordion__heading .btnGroup{
    position: absolute;
    z-index: 9;
    right: 46px;
    display: flex;
    top: 5px;
    width: 0px;
}
.apk-detail__data .accordion__heading .btnGroup a{
    position: relative;
    top: inherit;
    right: inherit;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    margin: 0px 5px;
}
.apk-detail__data .accordion__heading .btnGroup a i{
    vertical-align: middle;
    color: #333;
}
.blog-item-card{
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #cecece;
    padding: 20px;
}
.blog-item-card img{
    width: 100%;
}
.blog-item-card .titleBlog{
    color: #4f87de;
}
.blog-item-card p a{
    color: #ee6150;
}
/*for mobile*/
.header + .container > .s-a-d.m-b-10{
    margin-top: 50px;
}
.accordion-item .item-inner + p {
    padding: 10px;
}
.data-table table tr td{
    word-break: break-all;
}
.banner-search {
    left: 20px;
    width: 90%;
    max-width: 100%;
}
.banner-search .text-box1 {
    width: calc(100% - 146px);
}
.banner-search .text-box1 input {
    width: 100%;
}
.detailItemWrap{
    display: block;
    position: relative;
    width: 100%;
}
.detailItemWrap .apk-detail__img{
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
}
.detailItemWrap .titleItem{
    padding-left: calc(20% + 30px);
    width: 100%;
}
.detailItemWrap .desItem{
    padding-left: calc(20% + 30px);
    width: 100%;
}
.detailItemWrap .apk-detail__download{
    padding-left: calc(20% + 30px);
    width: 100%;
    margin-top: 10px;
}
.detailItemWrap .titleItem .d-sm-inline-block,.detailItemWrap .desItem .d-sm-inline-block{
    display: inline-block;
}


@media only screen and (max-width: 1024px) {
    .flexList {
        flex-wrap: wrap;
        flex-direction: inherit;
    }
    .itemFlex:nth-child(1) {
        flex-basis: 20%;
        width: 20%;
        order: 0;
    }
    .itemFlex:nth-child(2) {
        flex-basis: 80%;
        width: 80%;
        order: 0;
    }
    .itemFlex:nth-child(3){
        flex-basis: 100%;
        width: 100%;
    }
    .header-web{
        display: none;
    }
    .header-mobile{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 60px;
        background-color: #4f87de;
    }
    .header-mobile .hambergur{
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        font-size: 25px;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }
    .header-mobile .hambergur i{
        display: block;
        vertical-align: middle;
        margin-top: 18px;
    }
    .header-mobile .apk-logo{
        width: calc(100% - 120px);
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .header-mobile .apk-logo img{
        width: 90px;
    }
    .header-mobile .search-btn{
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }
    .header-mobile .search-btn i{
        display: block;
        vertical-align: middle;
        margin-top: 18px;
    }
    .menu-mobile{
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0px;
        height: calc(100vh - 60px);
        background-color: #fff;
        z-index: 99;
    }
    .menu-mobile ul{
        list-style: none;
        padding-left: 0;
    }
    .menu-mobile ul li a{
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }
    .menu-mobile.active{
        display: block;
    }
    .search-mobile{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
    }
    .search-mobile .apk-search{
        width: calc(100% - 60px);
        position: absolute;
        top: 8px;
        right: 10px;
    }
    .search-mobile .apk-search input{
        border-radius: 5px;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        padding: 21px 30px 21px 10px;
    }
    .search-mobile .apk-search button{
        font-size: 20px;
        right: 5px;
        top: 24px;
    }
    .search-mobile.active{
        display: block;
    }
    .search-mobile .search-auto-complete{
        top: 43px;
    }
    .search-mobile .search-auto-complete ul{
        list-style: none;
    }

    main{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    #apk-box-01{
        order: 8;
    }
    #apk-box-02{
        order: 1;
    }
    #apk-box-03{
        order: 2;
    }
    #apk-box-04{
        order: 3;
    }
    #apk-box-05{
        order: 4;
    }
    #apk-box-06{
        order: 5;
    }
    #apk-box-07{
        order: 6;
    }
    #apk-box-08{
        order: 7;
    }
    .container{
        max-width: 100%;
    }
    .apk-app {
        margin-top: 20px;
    }
    .apk-apps .row{
        margin-right: -10px;
        margin-left: -10px;
    }
    .apk-apps .row .col-md-6{
        width: calc(100%/3);
        padding-left: 10px;
        padding-right: 10px;
    }
    .apk-apps .row .col-md-6 .apk-app{
        display: flex;
        flex-direction: column;
    }
    .apk-apps .row .col-md-6 .apk-app .apk-app__img{
        width: 100%;
        padding-left: 0;
    }
    .apk-apps .row .col-md-6 .apk-app .apk-app__img img{
        max-width: 100%;
    }
    .apk-apps .row .col-md-6 .apk-app .apk-app__content{
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
    .apk-apps .row .col-md-6 .apk-app .apk-app__content .apk-app__author,.apk-apps .row .col-md-6 .apk-app .apk-app__content .apk-app__meta{
        display: none;
    }

    #apk-box-08{
        margin-bottom: 0px !important;
    }
    .apk-nav-footer li {
        border-bottom: 1px solid #3e3e3e;
    }
    .apk-apps .apk-app__discount .apk-app__download.d-inline-block,.apk-apps .discount-box .apk-app__published.d-inline-block.text-muted{
      display: none !important;
    }
    .apk-box__title, .apk-box__title + .float-md-right{
        display: inline-block;
        margin-bottom: 20px;
    }
    #apk-box-04 .apk-box__title,#apk-box-04 .apk-box__title + .float-md-right{
        margin-bottom: 0px;
    }
    .apk-detail__tab-content .table.table-responsive td{
        white-space: pre-wrap;
        word-break: break-word;
        padding: 10px;
        padding-left: 15px !important;
    }
    .apk-detail__tab-content .table.table-responsive td:nth-child(1){
        white-space: nowrap;
    }
    .apk-detail__tab-content .accordion__heading button{
        white-space: normal;
        padding-right: 100px;
    }
    .btn-group-download{
        display: flex;
        justify-content: space-around;
    }
    .accordion__heading button::before, .accordion__heading button::after {
        top: 25px;
    }
    .apk-detail__data-table-download th,.apk-detail__data-table-download td{
        word-break: break-word;
    }
    .apk-detail__data .card-header{
        padding:5px 0px 8px 0px;
    }
    .apk-detail__data .card-header h5 button{
        white-space: normal;
        padding-right: 85px;
    }
    .apk-detail__data-all-releases .card-header > h5 > button > i {
        right: 50px;
    }
    .accordion__heading button::before {
        right: 15px;
    }
    .accordion__heading button::after {
        right: 24px;
    }
    .apk-detail__data-all-releases .card-header > h5 > button::before {
        right: 16px;
    }
    .add-new-colap .download-icon-tab {
        right: 50px;
    }
    .apk-detail__data-all-releases .card-header > h5 > button::after {
        right: 25px;
    }
    .apk-detail__data .accordion .accordion {
        padding-left: 15px;
    }
    .apk-detail__data .accordion__item--child .accordion__item::before, .accordion__item--child .accordion__item::after {
        left: -13px;
    }
    .apk-detail__data .accordion__item--child .accordion__item::after {
        width: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .apk-apps .row .col-md-6{
        width: calc(100%/4);
        flex: 0 0 calc(100%/4);
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px){
    .apk-detail .apk-detail__header .row .col-2{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .apk-detail .apk-detail__header .row .col-10 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .apk-sidebar .apk-app__img {
        width: 80px;
    }
    .apk-sidebar .apk-app__content {
        padding-left: 100px;
    }
    .content.p-5{
        padding: 15px !important;
    }
    .box-background .pl-4.pr-4{
        padding: 0 !important;
        padding-right: 15px !important;
    }

}
@media only screen and (min-width: 576px) and (max-width: 654px){
    .desDetail{
        margin-top: 5px;
    }
}
@media only screen and (max-width: 575px){
    .apk-detail .apk-detail__header .row{
        flex-wrap: nowrap;
    }
    .apk-detail .apk-detail__header .row .col-2{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .apk-detail .apk-detail__header .row .col-10 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .apk-detail .apk-detail__header .apk-detail__title{
        font-size: 1.3rem;
    }
    .apk-detail .apk-detail__header .apk-detail__download .how-to-install {
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
    }
    .apk-detail__download p.mb-5{
        margin-bottom: 20px !important;
    }
    .apk-detail__header.mb-5{
        margin-bottom: 20px !important;
    }
    .apk-detail .apk-detail__data .apk-detail__tab-control{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .apk-detail .apk-detail__data .apk-detail__tab-control li{
        display: inline-block;
        white-space: nowrap;
    }
    .apk-comments .container{
        padding-right: 0px;
        padding-left: 0px;
    }
    .apk-comments .container .row .col-sm-5{
        margin-top: 10px;
    }
    .apk-comments .container .row .col-sm-5 .pro-bac .poc-bar {
        white-space: nowrap;
        width: calc(100% - 60px);
    }
    .widget-list-app li{
        width: 100% !important;
    }
    .apk-sidebar.apk-sidebar-right.apk-subscribe{
        text-align: center;
    }
    .apk-detail__download .btn{
        width: 100%;
    }
    .box-background .apk-detail__download .btn{
        width: 80%;
    }
    .apk-blog__item{
        flex-direction: column;
    }
    .desDetail{
        margin-top: 20px;
    }
    .desDetail .apk-detail__meta .mb-2,.desDetail .apk-detail__meta .mb-4{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #eee;
        padding-top: 8px;
    }
    .apk-detail .apk-detail__header .apk-detail__title {
        margin-top: 12px;
    }
    .desDetail .how-to-install{
        text-align: center;
    }

}
@media only screen and (max-width: 415px){
    .btn-group-download{
        flex-wrap: wrap;
    }
    .btn-group-download .btn{
        width: 100%;
    }
    .btn-group-download .btn:last-child{
        margin-top: 5px;
    }
    .detailItemWrap{
        display: block;
        position: relative;
        width: 100%;
    }
    .detailItemWrap .apk-detail__img{
        position: relative;
        float: left;
        width: 100px;
    }
    .detailItemWrap .titleItem{
        padding-left: 0;
        float: left;
        width: calc(100% - 100px);
    }
    .detailItemWrap .titleItem h1{
        padding-left: 20px;
        float: left;
        min-height: 90px;
    }
    .detailItemWrap .titleItem .headTitleItem{
        margin-top: 0px;
        float: left;
        width: calc(100% + 100px);
        margin-left: -100px;
        border-top: 1px solid #eee;
        padding-top: 8px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-around;
    }
    .detailItemWrap .desItem{
        float: left;
        width: 100%;
        padding-left: 0;
        border-top: 1px solid #eee;
        padding-top: 8px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-around;
    }
    .detailItemWrap .desItem .d-sm-inline-block{
        width: 50%;
        text-align: center;
    }
    .detailItemWrap .apk-detail__download{
        float: left;
        width: 100%;
        padding-left: 0;
    }
    .detailItemWrap .titleItem .d-sm-inline-block,.detailItemWrap .desItem .d-sm-inline-block{
        display: inline-block;
    }
}