@font-face {
  font-family: 'FontAPKTop';
  src:  url('../fonts/FontAPKTop.eot?4rzglt');
  src:  url('../fonts/FontAPKTop.eot?4rzglt#iefix') format('embedded-opentype'),
    url('../fonts/FontAPKTop.ttf?4rzglt') format('truetype'),
    url('../fonts/FontAPKTop.woff?4rzglt') format('woff'),
    url('../fonts/FontAPKTop.svg?4rzglt#FontAPKTop') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fat {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FontAPKTop' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fat-arrow-caret-down:before {
  content: "\e900";
}
.fat-arrow-caret-left:before {
  content: "\e901";
}
.fat-arrow-caret-right:before {
  content: "\e902";
}
.fat-arrow-caret-up:before {
  content: "\e903";
}
.fat-arrow-circle-down:before {
  content: "\e904";
}
.fat-arrow-circle-left:before {
  content: "\e905";
}
.fat-arrow-circle-right:before {
  content: "\e906";
}
.fat-arrow-circle-up:before {
  content: "\e907";
}
.fat-arrow-down:before {
  content: "\e908";
}
.fat-arrow-left:before {
  content: "\e909";
}
.fat-arrow-right:before {
  content: "\e90a";
}
.fat-arrow-up:before {
  content: "\e90b";
}
.fat-clock:before {
  content: "\e90c";
}
.fat-cloud-down:before {
  content: "\e90d";
}
.fat-email:before {
  content: "\e90e";
}
.fat-home:before {
  content: "\e90f";
}
.fat-search:before {
  content: "\e910";
}
.fat-star:before {
  content: "\e911";
}
.fat-television:before {
  content: "\e912";
}
.fat-watch:before {
  content: "\e913";
}
