// footer.scss
footer {
  background-color: $color_9;
  padding: 30px 0;
  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }
}

.apk-nav-footer {
  li {
    padding: 8px 0;
    border-bottom: 1px solid $color_8;
    @include media-breakpoint-up(md) {
      margin-left: -5px;
      margin-bottom: 10px;
      padding: 0 15px;
      border-right: 1px solid $white;
      border-bottom: none;
    }

    &:first-child,
    &:last-child {
      margin-left: 0;
      border-right-color: transparent;
    }
  }

  a {
    font-size: 13px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.apk-footer-socials {
  padding: 15px 0;

  label {
    vertical-align: text-bottom;
  }

  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.apk-footer-downloader {
  @include media-breakpoint-up(md) {
    margin-left: 30px;
  }

  .fa {
    font-size: 20px;
    margin-right: 5px;
  }
}
