// header.scss
header {
  background-color: $color-1;
  @include media-breakpoint-up(md) {
    padding: 20px 0 4px;
  }
  @include media-breakpoint-up(lg) {
    padding: 18px 0 17px;
  }

  * {
    color: $white;
  }
}

.apk-logo {
  position: relative;
  padding: 15px 0;
  @include media-breakpoint-up(md) {
    padding: 0;
  }

  a {
    display: inline-block;
    font-size: 0;
  }
}

.navbar-toggler {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @include media-breakpoint-up(lg) {
    display: none;
  }

  .navbar-toggler-icon {
    line-height: 1.5em;
  }
}

.apk-search {
  background-color: $white;
  overflow: hidden;
  border-radius: $border-radius;

  input {
    padding-right: 37px;
  }

  .btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    width: 37px;
    transform: translateY(-50%);

    i {
      color: $color_9;
    }
  }
}

.navbar-account {
  .dropdown-toggle::after {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    .nav-link {
      background-color: $white;
      width: 34px;
      height: 34px;
      line-height: 34px;
      padding: 0 !important;
      text-align: center;
      @include border-radius(50%);

      .fa {
        color: $color_1;
      }
    }
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
