// sidebar.scss
.apk-sidebar {
  margin-top: 50px;

  &:first-of-type {
    margin-top: 0;
  }

  &__title {

  }

  &__content {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      border-bottom: 1px dashed $color_5;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .apk-app {
    margin-top: 0;
    padding: 20px 0;

    &__img {
      width: 48px;
    }

    &__content {
      padding-left: 68px;
    }
  }
}

.widget-list-app {
  @include clearfix;
  @include media-breakpoint-up(sm) {
    margin: 0 -15px;
  }
  @include media-breakpoint-up(lg) {
    margin: 0;
  }

  li {
    @include media-breakpoint-up(sm) {
      width: 50%;
      float: left;
      padding: 0 15px;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      padding: 0;
    }
  }
}
