*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:focus {
    outline: 0 ;
}
body{
    background: #FFF;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: #21B25B; 
  }
.container {
    margin: 0px auto;
    position: relative;
    width: 1200px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.flex{
    display: flex;
}
.align_center{
    align-items: center;
}
.white_text{
    color: #FFF;
}
.white_bgr{
    background-color: #FFF;
}
.gray_bgr{
    background-color: #ececec;
}
.blue_text{
    color: #0890ce;
}
.blue_bgr{
    background-color: #0890ce;
}
.green_text{
    color: #07c24d;
}
.green_bgr{
    background-color: #07c24d;
}
.gray_text{
    color: #777;
}
.grey_bgr{
    background-color: #ececec;
}
.red_bgr{
    background-color: #ff5546;
}
.red_text{
    color:#ff5546 ;
}
.yellow_bgr{
    background-color: #ffd600;
}
.text_fixed{
    text-overflow: ellipsis;
    white-space: none;
    overflow: hidden;
}
.text-fixed-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    width: 90%;
}
.text-fixed-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    width: 90%;
}
.link{
    text-decoration: none;
}
.link_white{
    text-decoration: none;
    color: #FFF;
}
.link_bl{
    text-decoration: none;
    color: #111;
}
.link_green{
    text-decoration: none;
    color: #07c24d;
}
.link_blue{
    text-decoration: none;
    color: #0890ce;
}
.weight_100{
    font-weight: 100;
}
.weight_200{
    font-weight: 200;
}
.weight_300{
    font-weight: 300;
}
.weight_400{
    font-weight: 400;
}
.weight_500{
    font-weight: 500;
}
.weight_600{
    font-weight: 600;
}
.weight_700{
    font-weight: 700;
}
.weight_800{
    font-weight: 800;
}
.weight_900{
    font-weight: 900;
}
.list{
    list-style: none;
}
.space_bw{
    justify-content: space-between;
}
.space_ar{
    justify-content: space-around;
}
.image img{
    width: 100%;
    height: auto;
}
.image2 img{
    height: 100%;
    width: auto;
}
.hover_filter:hover{
    filter: brightness(40%);
    color: #FFF;
}




/* header  */
.header_pc{
    height: 90px;
    width: 100%;
}
.nav_header{
    height: 100%;
}
.header_bar{
    margin-left: auto;
}
.header_logo{
    width: 200px;
    min-width: 200px;
    padding: 0 15px;
}
.header_search{
    position: relative;
    height: 40px;
    width: 45%;
    margin-left: 5%;
}
.header_search form{
    height: 100%;
}
.header_search input{
    display: block;
    width: 100%;
    height: 100%;
    /* text-indent: 10px; */
    color: #333;
    /* letter-spacing: 1px; */
    outline: 0;
    background-color: #FFF;
    border: none;
    overflow: hidden;
    font-size: 16px;
    margin-right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header_search button{
    position: absolute;
    width: 36px;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
    border:none;
    border-radius: 4px;
    padding: 0 6px;
}
input[type=text], select {
    width: 100%;
    padding: 10px 40px 10px 15px ;
    display: block;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-sizing: border-box;
  }
.header_bar{
    height: 100%;
}
.header_bar_item{
    height: 100%;
    padding: 8px 15px;
    font-size: 1.125em;
}
.header_bar_item:hover{
    /* background-color: #2863f2; */
    font-weight: 600;
    border-radius: 4px;
}



/* footer  */
 footer{
    background-color: #333333;
    /* height: 60px; */
    padding: 55px 0;
    margin: 0 auto;
    justify-content: center;
}
.footer_list{
    justify-content: center;
    align-self: center;
}
.footer_item{
    padding: 0 15px;
    border-right: 1px solid #fff;
    line-height: 16px;
}
.footer_follow{
    justify-content: center;
    margin-top: 30px;
}
.footer_more ul{
    list-style: none;
    justify-content: center;
    color: #FFF;
}
.footer_follow_item{
    display: block;
    width: 20px;
    margin-left: 30px;
}
.android_store{
    background-color: #FFF;
    border-radius: 8px;
    margin-left: 30px;
    padding: 5px 10px 5px 20px;
    /* max-height: 30px;     */
    /* width: 200px; */
}
.android_store img{
    /* height: 100%; */
    display: block;
    max-height: 100%;
    width: auto;
    /* margin-right: 10px; */
}
.footer_follow ul{
    line-height: 15px;
}
.android_store p{
    display: block;
}
.img_android{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.text_fixed-2{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    width: 95%;
}
.text_fixed-1{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    width: 95%;
}
.title p{
    font-size: 18px;
}












