
main{
    /* height: 200vh; */
    width: 100%;
    background-color: #FFF;
    /* margin-top: 90px; */
}
.head_main{
    /* margin-top: 30px; */
    padding-top: 60px;
    margin-bottom: 60px;
}
.ad{
    width: 75%;
    height: 200px;
    background-color: #ccc;

}
.main_follow{
    width: 23%;
    background-color: #fff;
    height: 200px;
}
.main_follow_item{
    width: 20px;
    margin-right: 20px;
    margin-top: 10px;
    /* height: 25px; */
}
.main_follow_list p{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 600;
}
.main_follow_list{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.main_follow_apk{
    flex-direction: column;
    margin-top: 15px;
}
.main_follow_apk span{
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
}
.main_follow_apk .des_follow{
    font-size: 12px;
    margin-left: 5px;
    line-height: 16px;
}
.main_apk_dowload{
    border-radius: 5px;
    height: 38px;
    margin-top: 22px;
    padding: 5px 5px 5px 15px;
    margin-left: 5px;
}
.main_apk_dowload img{
    width: auto;
    height: 100%;
    margin-right: 15px;
}
.main_apk_dowload p{
    font-size: 14px;
}
.list_apk_title{
    /* line-height: 45px; */
    margin-bottom: 30px;
}
.apk_title_name{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 15px;
}
.apk_title_name p{
    font-size: 18px;
    margin-right: 20px;
    width: fit-content;
}
.apk_button{
    /* height: 30px; */
    margin-left: auto;
    justify-content: flex-end;
    /* width: 85%; */
    flex-grow: 2;
    /* align-self: baseline; */
    align-items: baseline;
    border-bottom: 1px solid #CCC;
}
.apk_arrow img{
    width: 20px;
    height: 15px;
}
.apk_arrow{
    margin-right: 10px;
    width: 30px;
    height: 100%;
    padding-left: 10px;
}
.apk_button_item{
    margin-right: 5px;
    border-radius: 5px 5px 0 0 ;
    padding: 10px 20px 5px 20px;
    max-height: 35px;
}
.list_apk_list{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.list_apk_item{
    width: 32%;
    height: 110px;
    margin-bottom: 20px;
    /* background-color: aqua; */

}
.apk_item_icon{
    min-width: 110px;
    width: 110px;
    height: 100%;
    margin-right: 15px;
}
.apk_item_icon img{
    border-radius: 12px;
}
.apk_item_infor{
    flex-direction: column;
}
.apk_item_author{
    font-size: 12px;
}
.apk_item_name{
    margin-bottom: 10px;
}
.star_rating{
    font-size: 20px;
    line-height: 24px;
    color: orange;
}
.star-rating::before {
    font-size: 15px;
    content: "★★★★★";
}
.down_image img{
    height: 20px;
    width: 20px;
}
.item_rate{
    margin-right: 20px;
}
.apk_item_rate span {
    margin-right: 10px;
}
.apk_item_rate{
    margin-top: 8px;
}
.wrap_obb{
    /* height: 50vh; */
    padding-top: 30px;
}
.obb_title{
    justify-content: space-between;
}
.obb_arrow img{
    width: 30px;
    height: 30px;
}


.obb_apk{
    flex-wrap: wrap;
}
.obb_apk_lg{
    width: 24%;
    height: 150px;
    background-color: palegoldenrod;
    margin-bottom: 12px;
}
.obb_apk_sm{
    width: 12%;
    height: 150px;
    background-color: palegoldenrod;
    margin-bottom: 12px;
}
.obb_ad{
    width: 24%;
    height: 320px;
    background-color: palegoldenrod;
    margin-bottom: 12px;
}